<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

</head>

<iframe width="560" height="315" src="https://www.youtube.com/embed/wwoxHang3Yc" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

<p><%= link_to 'Click Here To Comment.', comments_path %></p>
<p><%= link_to "Click Here To Join My Site.", "http://aarongeoffreygrantetsydemoapp.herokuapp.com" %></p></h1>
<p><div class="fb-share-button" data-href="http://vast-spire-54623.herokuapp.com" data-layout="button_count" data-size="large" data-mobile-iframe="true"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fvast-spire-54623.herokuapp.com%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div></p>
</html>